<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="RuleSet" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA2254" Action="None" />
    <Rule Id="SA0000" Action="Warning" />
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1408" Action="None" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>