@inherits LayoutComponentBase
@inject ModelFileProvider _provider

<div class="sidebar">
    @foreach (var ns in Files.GroupBy(f => string.Join("/", f.Name.Split("/").SkipLast(1))))
    {
        <h5>@ns.Key</h5>
        <ul>
            @foreach (var file in ns)
            {
                <li>
                    <NavLink href=@{$"/{file.Name.Replace("/", "+")}"}>
                        <span class="oi oi-file" aria-hidden="true"></span> @file.Name.Split("/").Last().Replace("_", " ")
                    </NavLink>
                </li>
            }
        </ul>
    }
</div>

@Body

@code {
    IEnumerable<ModelFile> Files => _provider.Files.Values.OrderBy(x => x.ToString());

    protected override void OnInitialized()
    {
        _provider.FilesChanged += (_, __) =>
        {
            InvokeAsync(StateHasChanged);
        };
    }
}
