@page "/{Module}/{Kind}/{File}"
@inject ModelFileProvider _provider

<div class="main">
    <h4>@FileName.Module > @FileName.Kind > @FileName.File</h4>
    <div class="diagram">
        @((MarkupString)Svg)
    </div>
</div>

@code {
#nullable disable
    [Parameter]
    public string Module { get; set; }

    [Parameter]
    public string Kind { get; set; }

    [Parameter]
    public string File { get; set; }

    public FileName FileName => new FileName { Module = Module, Kind = Kind == "Data" ? FileModel.Kind.Data : FileModel.Kind.Metier, File = File.Replace("+", " ") };

    string Svg => _provider.GetSvgForFile(FileName);
#nullable enable

    protected override void OnInitialized()
    {
        _provider.FileChanged += (_, name) =>
        {
            if (name.Equals(FileName))
            {
                InvokeAsync(StateHasChanged);
            }
        };
    }
}
