# yaml-language-server: $schema=./topmodel.config.schema.json
app: Hello World
modelRoot: ./
jpa:
  - tags: [back]
    outputDirectory: ./output/java
    apiGeneration: Server
csharp:
  - tags: [back]
    outputDirectory: ./output/csharp
    apiGeneration: Server
sql:
  - tags: [back]
    outputDirectory: ./output/sql
    procedural:
      crebasFile: 01_tables.sql
      indexFKFile: 02_fk_indexes.sql
      uniqueKeysFile: 03_unique_keys.sql
      initListFile: 04_references.sql
javascript:
  - tags: [front]
    outputDirectory: ./output/javascript
    apiMode: angular
    apiClientRootPath: api
    modelRootPath: model
