@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: "Segoe UI";
    user-select: none;
}

app {
    position: relative;
    display: flex;
}

.sidebar {
    width: 230px;
    height: 100vh;
    overflow-y: auto;
    background: whitesmoke;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
}

.main {
    flex: 1;
    max-width: calc(100% - 230px);
}

h4 {
    height: 50px;
    margin: 0;
    padding: 8px;
    background: whitesmoke;
}

svg {
    width: 100%;
    height: calc(100vh - 50px);
    cursor: move;
}

text, title {
    pointer-events: none;
}


g[id^="edge"]:hover path, g[id^="edge"]:hover polygon {
    stroke: dodgerblue;
}

g[id^="edge"]:hover text {
    fill: dodgerblue;
}

#stop-pan {
    display: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
