modelRoot: ./model
database:
  - outputDirectory: ./
    tags:
      - Back
    extractValues:
      - TypeUtilisateur
    modules:
      - name: Common
        classes:
          - Adresse
          - Departement
          - Fichier
          - Translation
      - name: Restaurant
        classes:
          - Commande
          - LigneCommande
          - Reservation
          - CommandeHistorique
          - LigneCommandeHistorique
          - Menu
          - Plat
          - MenuPlat
          - Promotion
          - Personne
          - Employe
          - Client
          - AvisClient
          - Restaurant
          - TableRestaurant
          - StatutCommande
          - CategoriePlat
          - CategoriePlatRegion
          - TypeTerrasse
          - Assiette
          - Couvert
          - Verre
          - Prestataire
    domains:
      - name: /(?i)id/
        domain: DO_ID
      - type: integer
        domain: DO_ENTIER
      - type: numeric
        domain: DO_ENTIER
      - type: bigint
        domain: DO_ENTIER
      - type: name
        domain: DO_LIBELLE
      - type: character varying
        domain: DO_LIBELLE
      - type: character varying
        domain: DO_CODE
        scale: 3
      - type: text
        domain: DO_LIBELLE
      - type: double precision
        domain: DO_ENTIER
      - type: boolean
        domain: DO_BOOLEAN
      - type: date
        domain: DO_DATE
      - type: smallint
        domain: DO_ENTIER
      - type: timestamp without time zone
        domain: DO_DATE_TIME
      - type: USER-DEFINED
        domain: DO_CODE
    exclude:
      - spatial_ref_sys
      - us_lex
      - us_gaz
      - us_rules
      - flyway_schema_history
      - raster_columns
      - raster_overviews
      - geometry_columns
      - geography_columns
    source:
      host: localhost
      port: "5962"
      dbName: demo
      schema: public
      user: demo
      dbType: postgresql
      password: demo
