---
app: Exemple
allowCompositePrimaryKey: false
jpa:
  - tags:
      - dto
      - entity
    outputDirectory: jpa/src/main
    modelRootPath: javagen
    daosPackageName: topmodel.exemple.name.daos
    dtosPackageName: topmodel.exemple.name.dtos
    entitiesPackageName: topmodel.exemple.name.entities
    apiRootPath: javagen
    resourceRootPath: resources/i18n/model/fr
    apiPackageName: topmodel.exemple.name.api
    apiGeneration: Server
    fieldsEnum: true
    enumShortcutMode: false
    persistenceMode: jakarta
  - tags:
      - api-client
    outputDirectory: jpa/src/main
    modelRootPath: javagen
    entitiesPackageName: topmodel.exemple.name.entities
    dtosPackageName: topmodel.exemple.name.dtos
    apiRootPath: javagen
    apiPackageName: topmodel.exemple.name.api
    apiGeneration: Client
    persistenceMode: jakarta
javascript:
  - tags:
      - dto
    outputDirectory: js/appgenerated
    apiClientRootPath: api
    modelRootPath: model
    domainImportPath: "@domains"
    fetchImportPath: "@api-services"
    resourceRootPath: resources
    targetFramework: angular
proceduralSql:
  - tags:
      - entity
    outputDirectory: pg
    crebasFile: 01_tables.sql
    indexFKFile: 02_fk_indexes.sql
    uniqueKeysFile: 03_unique_keys.sql
    initListFile: 04_references.sql
    targetDBMS: postgre
    identity:
      increment: 50
      start: 1000
      mode: identity
