---
app: Exemple
allowCompositePrimaryKey: false
jpa:
  - tags:
      - dto
      - entity
    modelOutputDirectory: ./jpa/src/main/javagen
    daoPackageName: topmodel.exemple.name.dao
    apiOutputDirectory: ./jpa/src/main/javagen
    apiPackageName: topmodel.exemple.name.api
    fieldsEnum: true
    fieldsEnumInterface: topmodel.exemple.utils.IFieldEnum<>
javascript:
  - tags:
      - dto
    apiClientOutputDirectory: ./js/appgenerated/api
    modelOutputDirectory: ./js/appgenerated/model
    domainImportPath: "@domains"
    fetchImportPath: "@api-services"
    focus: false
proceduralSql:
  - tags:
      - entity
    initListFile: ./pg/model/init-references.sql
    targetDBMS: postgre
