---
app: Exemple
allowCompositePrimaryKey: false
jpa:
  - tags:
      - dto
      - entity
    modelOutputDirectory: ./jpa/src/main/javagen
    daosPackageName: topmodel.exemple.name.daos
    dtosPackageName: topmodel.exemple.name.dtos
    entitiesPackageName: topmodel.exemple.name.entities
    apiOutputDirectory: ./jpa/src/main/javagen
    apiPackageName: topmodel.exemple.name.api
    apiGeneration: Server
    fieldsEnum: true
    fieldsEnumInterface: topmodel.exemple.utils.IFieldEnum<>
    enumShortcutMode: false
  - tags:
      - api-client
    modelOutputDirectory: ./jpa/src/main/javagen
    entitiesPackageName: topmodel.exemple.name.entities
    dtosPackageName: topmodel.exemple.name.dtos
    apiOutputDirectory: ./jpa/src/main/javagen
    apiPackageName: topmodel.exemple.name.api
    apiGeneration: Client
javascript:
  - tags:
      - dto
    apiClientOutputDirectory: ./js/appgenerated/api
    modelOutputDirectory: ./js/appgenerated/model
    domainImportPath: "@domains"
    fetchImportPath: "@api-services"
    focus: false
    resourceOutputDirectory: ./js/appgenerated/resources
proceduralSql:
  - tags:
      - entity
    crebasFile: ./pg/01_tables.sql
    indexFKFile: ./pg/02_fk_indexes.sql
    uniqueKeysFile: ./pg/03_unique_keys.sql
    initListFile: ./pg/04_references.sql
    disableIdentity: true
    targetDBMS: postgre