---
app: Exemple
allowCompositePrimaryKey: false
langs:
  en: i18n/en/in
translation:
  - tags:
      - dto
      - entity
    outputDirectory: ./
    langs:
      en: i18n/en/out
jpa:
  - tags:
      - dto
      - entity
    outputDirectory: jpa/src/main
    modelRootPath: javagen
    daosPackageName: topmodel.jpa.sample.demo.daos
    dtosPackageName: topmodel.jpa.sample.demo.dtos
    entitiesPackageName: topmodel.jpa.sample.demo.entities
    apiRootPath: javagen
    resourceRootPath: resources/i18n/model/fr
    apiPackageName: topmodel.jpa.sample.demo.api.server
    apiGeneration: Server
    fieldsEnum: true
    enumShortcutMode: false
    persistenceMode: Jakarta
  - tags:
      - api-client
    outputDirectory: jpa/src/main
    modelRootPath: javagen
    entitiesPackageName: topmodel.jpa.sample.demo.entities
    dtosPackageName: topmodel.jpa.sample.demo.dtos
    apiRootPath: javagen
    apiPackageName: topmodel.jpa.sample.demo.api.client
    apiGeneration: Client
    persistenceMode: Jakarta
javascript:
  - tags:
      - dto
    outputDirectory: js/appgenerated
    apiClientRootPath: api
    modelRootPath: model
    domainImportPath: "@domains"
    fetchImportPath: "@api-services"
    resourceRootPath: resources
    targetFramework: angular
proceduralSql:
  - tags:
      - entity
    outputDirectory: pg
    crebasFile: 01_tables.sql
    indexFKFile: 02_fk_indexes.sql
    uniqueKeysFile: 03_unique_keys.sql
    initListFile: 04_references.sql
    targetDBMS: postgre
    identity:
      increment: 50
      start: 1000
      mode: identity
