---
app: Exemple
allowCompositePrimaryKey: false
jpa:
  - tags:
      - dto
      - entity
    modelOutputDirectory: ./jpa/src/main/javagen
    daoPackageName: topmodel.exemple.name.dao
    apiOutputDirectory: ./jpa/src/main/javagen
    apiPackageName: topmodel.exemple.name.api
    fieldsEnum: true
    fieldsEnumInterface: topmodel.exemple.utils.IFieldEnum<>
javascript:
  - tags:
      - dto
    domainRelativePath: ../../
    apiClientOutputDirectory: ./js/appgenerated
    fetchImportPath: "../api-services"
    modelOutputDirectory: ./js/appgenerated/model
    focus: false
proceduralSql:
  - tags:
      - entity
    initListFile: ./pg/model/init-references.sql
    targetDBMS: postgre
