---
app: Exemple
allowCompositePrimaryKey: false
i18n:
  rootPath: i18n/{lang}/in
  defaultLang: fr_FR
  langs:
    - en_US
    - de_DE
translation:
  - tags:
      - front
      - back
    outputDirectory: ./
    rootPath: i18n/{lang}/out
    langs:
      - en_US
      - de_DE
jpa:
  - tags:
      - back
    variables:
      rootPackageName: topmodel.jpa.sample.demo
    outputDirectory: jpa/src/main
    modelRootPath: javagen
    daosPackageName: "{rootPackageName}.daos"
    dtosPackageName: "{rootPackageName}.dtos"
    entitiesPackageName: "{rootPackageName}.entities"
    apiRootPath: javagen
    resourceRootPath: resources/i18n/model/{module}
    apiPackageName: "{rootPackageName}.api.server"
    apiGeneration: Server
    fieldsEnum: true
    enumShortcutMode: false
    persistenceMode: Jakarta
  - tags:
      - api-client
    outputDirectory: jpa/src/main
    modelRootPath: javagen
    entitiesPackageName: topmodel.jpa.sample.demo.entities
    dtosPackageName: topmodel.jpa.sample.demo.dtos
    apiRootPath: javagen
    apiPackageName: topmodel.jpa.sample.demo.api.client
    apiGeneration: Client
    persistenceMode: Jakarta
javascript:
  - tags:
      - front
    outputDirectory: js/appgenerated
    apiClientRootPath: api
    modelRootPath: model
    domainPath: "@domains"
    fetchPath: "@api-services"
    resourceRootPath: resources
    targetFramework: angular
    referenceMode: values
    resourceMode: json
proceduralSql:
  - tags:
      - back
    outputDirectory: pg
    crebasFile: 01_tables.sql
    indexFKFile: 02_fk_indexes.sql
    uniqueKeysFile: 03_unique_keys.sql
    initListFile: 04_references.sql
    targetDBMS: postgre
    identity:
      increment: 50
      start: 1000
      mode: identity
