# yaml-language-server: $schema=./topmodel.config.schema.json
---
app: Restaurant
defaultAssociationUseClass: true
generators:
  - ../../TopModel.Generator.Csharp
  - ../../TopModel.Generator.Javascript
  - ../../TopModel.Generator.Jpa
  - ../../TopModel.Generator.Sql
  - ../../TopModel.Generator.Translation

javascript:
  - name: angular
    tags: &front
      - front
    outputDirectory: ../output/angular/src/appgenerated
    apiClientRootPath: api
    modelRootPath: model
    domainPath: "@/domains"
    resourceRootPath: resources
    entityMode: focus
    apiMode: angular
    referenceMode: values
    resourceMode: json

  - name: focus
    tags: *front
    outputDirectory: ../output/focus/src
    modelRootPath: model
    resourceRootPath: locale
    domainPath: "./domains"
    apiClientRootPath: services
    entityMode: focus

sql:
  - name: pg
    tags:
      - back
    outputDirectory: ../output/pg/src
    targetDBMS: postgre
    procedural:
      commentsFileName: 05_comments.sql
      identity:
        increment: 50
        start: 1000
        mode: sequence
    language: [sql2, sql]

  - name: ssdt
    tags:
      - back
    outputDirectory: ../output/ssdt/src
    targetDBMS: sqlserver
    ignoreDefaultValues: false
    ssdt:
      tableScriptFolder: tables
      tableTypeScriptFolder: types
      initListScriptFolder: init
      initListMainScriptName: main.sql
      generateComments: true

csharp:
  - tags: &back
      - back
      - api-client
    variables:
      app: TopModel.Sample
      clientsDb: Clients:TopModel.Sample.Clients.Db
    tagVariables:
      back:
        apiGeneration: Server
        apiRootPath: "{app}.Api"
      api-client:
        apiGeneration: Client
        apiRootPath: Clients:{app}.Clients.External
    outputDirectory: ../output/csharp/src
    dbContextPath: "{clientsDb}"
    mappersName: Mappers
    persistentModelPath: "{clientsDb}/Models/{module:path}"
    referencesModelPath: Models:{app}.{module:head}.Models/{module:tail:path}
    nonPersistentModelPath: Models:{app}.{module:head}.Models/{module:tail:path}
    referenceAccessorsInterfacePath: "{clientsDb}/Reference"
    apiRootPath: "{apiRootPath}"
    apiGeneration: "{apiGeneration}"
    useEFComments: true
    nullableEnable: true
    useCancellationTokens: true
    domainNamespace: "{app}.Restaurant.Models"
    resourcesResxPath: Models/{app}.{module:head}.Models
    resourcesInResx: properties
translation:
  - tags:
      - front
      - back
    outputDirectory: ../output/translation
    rootPath: i18n/{lang}/out
    langs:
      - en_US
      - de_DE
jpa:
  - &jpa-base-config
    tags: *back
    variables:
      confName: jpa-sequence-server
    name: jpa-sequence-server
    outputDirectory: ../output/jpa/src/main
    entitiesPath: "javagen:{app:path}/{confName}/entities/{module:path}"
    dtosPath: "javagen:{app:path}/{confName}/dtos/{module:path}"
    daosPath: "javagen:{app:path}/{confName}/daos/{module:path}"
    enumsPath: "javagen:{app:path}/{confName}/enums/{module:path}"
    apiPath: "javagen:{app:path}/{confName}/api/server/{module:path}"
    resourcesPath: "resources/{confName}/i18n/model"
    daosInterface: topmodel.test.CustomCrudRepository
    openApiAnnotations: true
    metaModel: true
    mappersInClass: false
    identity:
      mode: sequence
      increment: 50
      start: 1000
    apiGeneration: Server

    fieldsEnum:
      - persisted

  - <<: *jpa-base-config
    name: jpa-identity-feign
    variables:
      confName: jpa-identity-feign

    identity:
      mode: identity
    apiGeneration: Client
    clientApiGeneration: FeignClient

    translateProperties: false
    translateReferences: false
    fieldsEnum:
      - persisted
      - non-persisted
    mappersInClass: true
    uniqueValueGeneration: enum-only
    associationAdders: true
    associationRemovers: true

  - <<: *jpa-base-config
    name: jpa-jdbc-uuid-resttemplate
    variables:
      confName: jpa-jdbc-uuid-resttemplate

    useJdbc: true
    identity:
      mode: uuid
    apiGeneration: Client
    clientApiGeneration: RestTemplate

    fieldsEnum: []
    uniqueValueGeneration: const-only
