# yaml-language-server: $schema=./topmodel.config.schema.json
---
app: Restaurant
defaultAssociationUseClass: true
generators:
  - ../../TopModel.Generator.Csharp
  - ../../TopModel.Generator.Javascript
  - ../../TopModel.Generator.Jpa
  - ../../TopModel.Generator.Sql
  - ../../TopModel.Generator.Translation
  - ../../TopModel.Generator.Documentation
i18n:
  rootPath: ../output/translation/i18n/{lang}/in
  translateReferences: true
  translateProperties: true
  defaultLang: fr
  langs:
    - de
    - en
javascript:
  - name: angular
    tags: &front
      - front
    outputDirectory: ../output/angular/src/appgenerated
    apiClientRootPath: api
    modelRootPath: model
    domainPath: "@/domains"
    resourceRootPath: resources
    entityMode: focus
    apiMode: angular
    resourceMode: json

  - name: focus
    tags: *front
    outputDirectory: ../output/focus/src
    modelRootPath: model
    resourceRootPath: locale
    domainPath: "./domains"
    apiClientRootPath: services
    entityMode: focus

  - name: vanilla
    tags: *front
    translateProperties: false
    translateReferences: false
    outputDirectory: ../output/vanilla-js
    modelRootPath: model
sql:
  - name: pg
    tags:
      - back
    outputDirectory: ../output/pg/src
    targetDBMS: postgre
    procedural:
      commentsFileName: 05_comments.sql
    language: [sql2, sql]

  - name: ssdt
    tags:
      - back
    outputDirectory: ../output/ssdt/src
    targetDBMS: sqlserver
    ignoreDefaultValues: false
    useLowerCaseSqlNames: false
    ssdt:
      tableScriptFolder: tables
      tableTypeScriptFolder: types
      initListScriptFolder: init
      initListMainScriptName: main.sql
      generateComments: true

csharp:
  - tags: &back
      - back
      - api-client
    variables:
      app: TopModel.Sample
      clientsDb: Clients:TopModel.Sample.Clients.Db
    tagVariables:
      back:
        apiGeneration: Server
        apiRootPath: "{app}.Api"
      api-client:
        apiGeneration: Client
        apiRootPath: Clients:{app}.Clients.External
    outputDirectory: ../output/csharp/src
    dbContextPath: "{clientsDb}"
    mappersName: Mappers
    persistentModelPath: "{clientsDb}/Models/{module:path}"
    referencesModelPath: Models:{app}.{module:head}.Models/{module:tail:path}
    nonPersistentModelPath: Models:{app}.{module:head}.Models/{module:tail:path}
    referenceAccessorsInterfacePath: "{clientsDb}/Reference"
    apiRootPath: "{apiRootPath}"
    apiGeneration: "{apiGeneration}"
    useEFComments: true
    usePostgresEnums: true
    nullableEnable: true
    useCancellationTokens: true
    domainNamespace: "{app}.Restaurant.Models"
    resourcesResxPath: Models/{app}.{module:head}.Models
    resourcesInResx: properties
    dataFlowsPath: Flows/{app}.{module:head}.Flows
translation:
  - tags:
      - front
      - back
    outputDirectory: ../output/translation
    rootPath: i18n/{lang}/out
    langs:
      - en_US
      - de_DE
jpa:
  - &jpa-base-config
    tags: *back
    tagVariables:
      back:
        apiGeneration: Server
      api-client:
        apiGeneration: Client

    name: jpa-server
    outputDirectory: ../output/jpa/src/main
    entitiesPath: "javagen:{app:path}/{name}/entities/{module:path}"
    dtosPath: "javagen:{app:path}/{name}/dtos/{module:path}"
    daosPath: "javagen:{app:path}/{name}/daos/{module:path}"
    enumsPath: "javagen:{app:path}/{name}/enums/{module:path}"
    apiPath: "javagen:{app:path}/{name}/api/server/{module:path}"
    resourcesPath: "resources/{name}/i18n/model"
    daosInterface: topmodel.test.CustomCrudRepository
    openApiAnnotations: true
    metaModel: true
    apiGeneration: "{apiGeneration}"
    clientApiGeneration: RestClient

    fieldsEnum:
      - persisted

  - <<: *jpa-base-config
    name: jpa-feign
    dataFlowsPath: "javagen:{app:path}/{name}/flows/{module:path}"
    mappersInClass: true
    apiGeneration: Client
    clientApiGeneration: FeignClient

    translateProperties: false
    translateReferences: false
    fieldsEnum:
      - persisted
      - non-persisted
    uniqueValueGeneration: enum-only
    associationAdders: true
    associationRemovers: true

  - <<: *jpa-base-config
    name: jpa-jdbc-resttemplate

    useJdbc: true
    apiGeneration: Client
    clientApiGeneration: RestTemplate

    fieldsEnum: []
    uniqueValueGeneration: const-only
documentation:
  - tags:
      - back
      - api-client
    outputDirectory: ../output/documentation
    mermaidFilePath: "mermaid/{module}.md"
    endpointsFilePath: "endpoints/{module}.md"
    classesFilePath: "classes/{module}.md"
    authorizationAnnotations:
      - RoleRequired
    schemas:
      gestion:
        - back
